:root {
    --primary-colour: #B1D0E0;
    --secondary-colour: black;
    /*
    --secondary-colour: #406882;
    */
    --tertiary-colour: #1A374D;
    --quarternary-colour: #6998AB;
    --text-colour: #99FFFF;
    
}

article {
    display: grid;
    grid-template-rows: 25% 50% 25%;
    grid-template-columns: 1fr;
    grid-template-areas:
        "about"
        "portfolio"
        "contact";
    background-color: var(--primary-colour);
    margin-top: 0;
}

body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: "Helvetica", "Roboto", "Open Sans", sans-serif;
    margin: 0 0 0 0;
}

footer {
    background-color: var(--secondary-colour);
    color: var(--primary-colour);
    text-align: center;
}

h1 {
    margin-left: 10px;
    margin-right: 10px;
    color: #d1e6e3;
}

h2 {
    color: var(--tertiary-colour);
    margin-right: 2rem;
}

nav {
    background-color: var(--secondary-colour);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    list-style-type: none;
    height: 66%;
    align-items: center;
}

nav li {
    border-style: solid;
    border-color: white;
    background-color: black;
    height: 2rem;
    margin-right: 10px;
    display: flex;
    align-items: center;
    border-radius: 10%;
}

a {
    text-decoration: none;
    color: white;
}

.content-section {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "title content";
}

.title {
    grid-area: title;
    border-right: 3px solid var(--tertiary-colour);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: right;
}

.content {
    grid-area: content;
    margin-left: 20px;
    font-family: "Roboto", "Open Sans", sans-serif;
    margin-right: 2rem;
}

.portrait {
    height: 100%;
    width: auto;
    margin-left: 10px;
    border-radius: 50%;
}

#about {
    grid-area: about;
}

#portfolio {
    grid-area: portfolio;
}

#contact {
    grid-area: contact;
}

#portfolio-content {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "projectOne projectOne"
        "projectTwo projectThree"
        "projectFour projectFive";
}

#project-one {
    grid-area: projectOne;
}

#project-two {
    grid-area: projectTwo;
}

#project-three {
    grid-area: projectThree;
}

#project-four {
    grid-area: projectFour;
}

#project-five {
    grid-area: projectFive;
}

.project-image {
    height: 100%;
    width: 100%;
}

.social-media-icon {
    height: 1rem;
    width: 1rem;
    margin-right: 5px;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.contact a {
    color: black;
}

.section-link {
    appearance: button;
}

.section-link:hover {
    box-shadow: 0 0.5em 0.5em -0.4em var(--quarternary-colour);
    transform: translateY(-0.3em);
}

#about-link:hover {
    border-color: red;
}

#portfolio-link:hover {
    border-color: orange;
}

#contact-link:hover {
    border-color: yellow;
}

#about-link a:hover {
    color: red;
}

#portfolio-link a:hover {
    color: orange;
}

#contact-link a:hover {
    color: yellow;
}