:root {
    --primary-colour: #FFEFD6;
    --secondary-colour: #3A8891;
    --tertiary-colour: #0E5E6F;
    --quarternary-colour: #F2DEBA;
}

article {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "about"
        "portfolio"
        "contact";
}

nav ul{
    display: flex;
    justify-content: flex-end;
}

.content-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "title content";
}

.title {
    grid-area: title;
}

.content {
    grid-area: content;
}

#about {
    grid-area: about;
}

#portfolio {
    grid-area: portfolio;
}

#contact {
    grid-area: contact;
}

